.item {
  display: flex;
  height: 55px;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--gray-light);
  color: var(--gray-dark);
  font-family: var(--font-roboto);
  font-weight: 300;
}

.idWrapper {
  width: 118px;
  min-width: 118px;
}

.titleWrapper {
  display: -webkit-box;
  overflow: hidden;
  min-width: 220px;
  max-width: 420px;
  flex: 1 1 320px;
  padding: 0 17px;
  -webkit-box-orient: vertical;
  font-size: 16px;
  -webkit-line-clamp: 2;
}

.title {
  white-space: pre-wrap;
}

.statusWrapper {
  display: flex;
  width: 127px;
  min-width: 127px;
  align-items: center;
  justify-content: left;
  padding: 0 15px;
}

.executorWrapper {
  min-width: 198px;
  max-width: 198px;
  padding: 0 16px;
}

.executor {
  padding-left: 5px;
  font-size: 16px;
}

.id,
.statusWrapper,
.executor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1599px) {
  .titleWrapper {
    min-width: 120px;
    max-width: calc(100vw - var(--sidebar-width) - var(--modal-max-width) - 130px);
  }
}