.id {
  position: relative;
  width: 118px;
  min-width: 118px;
  padding: 0 17px;
  font-size: 17px;
  line-height: 50px;
  text-align: right;
}

.id::before {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 5px;
  height: calc(100% - 2px * 2);
  border-radius: 2px;
  background: var(--badge-color);
  content: '';
}