.selectWrapper {
  position: relative;
  color: var(--gray-dark);
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.selectBox {
  color: #1974d2;
}

.options {
  position: absolute;
  padding: 10px 0;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 4px 12px 0 var(--shadow);
}

.optionItem {
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.error {
  color: var(--red);
  font-size: 15px;
}

@media (hover: hover) {
  .optionItem:hover {
    background: #d1e0ed;
  }
}