.modal {
  position: fixed;
  top: 66px;
  right: 0;
  width: 976px;
  height: calc(100vh - 66px);
  border: 1px solid #dae0e7;
  background: #ecf3f7;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px 0 35px;
  background-color: #1a4876;
}

.title {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.closeBtn {
  position: relative;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
}

.lineOne {
  transform: translateY(-50%) rotate(45deg);
}

.lineTwo {
  transform: translateY(-50%) rotate(-45deg);
}

.content {
  padding: 0 26px 0 35px;
}

@media (max-width: 1300px) {
  .modal {
    width: calc(100% - 93px);
  }
}