.modal {
  position: fixed;
  top: var(--topbar-height);
  right: 0;
  width: var(--modal-max-width);
  height: calc(100vh - var(--topbar-height));
  border: 1px solid var(--gray-light);
  background: #ecf3f7;
  overflow-y: auto;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px 0 35px;
  background-color: #1a4876;
}

.title {
  display: flex;
  max-width: 80%;
  height: 100%;
  align-items: center;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  gap: 21px;
}

.content {
  height: calc(100% - 60px);
  padding: 0 26px 0 35px;
}

@media (max-width: 1300px) {
  .modal {
    width: calc(100% - 93px);
  }
}

@media (max-width: 800px) {
  .content,
  .header {
    padding: 0 10px;
  }
}