:root {
  --white: #fff;
  --red: #cc0d0d;
  --blue-light: #42aaff;
  --gray-light: #dae0e7;
  --gray-medium: #9f9ea7;
  --gray-dark: #525460;
  --topbar-height: 66px;
  --sidebar-width: 93px;
  --modal-max-width: 976px;
  --shadow: #30465726;
  --black: #030303;
}

body {
  overflow: hidden;
  background: var(--white);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main {
  margin-left: 93px;
}