.navbar {
  position: fixed;
  display: flex;
  width: 93px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  background-color: #002137;
  color: white;
  -ms-overflow-style: none;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.navbar::-webkit-scrollbar {
  display: none;
}