.form {
  max-width: 626px;
}

.title {
  margin-top: 53px;
  margin-bottom: 20px;

  textarea {
    min-height: 85px;
  }
}

.description {
  margin-bottom: 75px;

  textarea {
    min-height: 135px;
  }
}

.btn {
  margin-left: 8px;
}