.form {
  max-width: 626px;
  padding: 53px 0;
}

.title {
  margin-bottom: 20px;

  textarea {
    min-height: 85px;
  }
}

.description {
  margin-bottom: 75px;

  textarea {
    min-height: 135px;
  }
}

.status {
  margin: 10px 8px;
}

.btn {
  margin-left: 8px;
}