.form {
  max-width: 626px;
}

.inputWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.label {
  padding-left: 5px;
  margin-bottom: 10px;
  color: #9f9ea7;
  font-family: var(--font-ubuntu);
  font-size: 14px;
  font-weight: 300;
}

.input {
  padding: 5px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  background: #f9f9fa;
  font-family: var(--font-ubuntu);
  resize: none;
}

.inputTitle {
  margin-top: 53px;
  margin-bottom: 20px;

  textarea {
    min-height: 85px;
  }
}

.inputDescription {
  margin-bottom: 75px;

  textarea {
    min-height: 135px;
  }
}

.btn {
  min-width: 150px;
  padding: 9px 10px;
  border: none;
  border-radius: 15px;
  background: #008cf0;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

.btnModificator {
  margin-left: 8px;
}