.id {
  display: inline-block;
  min-width: 80px;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-weight: 300;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.wrapper {
  display: flex;
}

.loaderWrapper {
  margin-top: 10vh;
}

.error {
  margin-top: 20px;
  color: var(--red);
}