.searchBar {
  height: var(--topbar-height);
  padding: 14px 17px 11px;
  background: #d1e0ed;
  box-shadow: 0 3px 5px 0 #30465726;
}

.searchField {
  display: flex;
  max-width: 681px;
  align-items: center;
  padding: 0 5px 0 20px;
  border: 1px solid var(--blue-light);
  border-radius: 25px;
  background: var(--white);
}

.btn {
  padding: 6px 5px 5px;
  border: 0;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 40px;
  border: 0;
  margin-right: 10px;
  font-size: 15px;
  outline: 0;
}

.icon {
  pointer-events: none;
}

.searchField:focus-within {
  outline: 1px solid var(--blue-light);
}

.btn:focus {
  outline: 1px solid var(--blue-light);
}