.contentWrapper {
  width: 100%;
  padding: 24px 27px 24px 0;
  font-size: 14px;
}

.descriptionTitle {
  margin-bottom: 10px;
  color: var(--gray-medium);
  font-family: var(--font-ubuntu);
  font-weight: 300;
}

.description {
  margin-bottom: 41px;
  color: var(--black);
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  white-space: pre-wrap;
}

.commentInput {
  margin-bottom: 17px;

  textarea {
    min-height: 90px;
    border: none;
    background: transparent;
    color: var(--black);
    font-family: var(--font-roboto);
    font-size: 13px;
    font-weight: 300
  }
}

.error {
  margin-bottom: 15px;
  color: var(--red);
  font-size: 14px;
}

.btnSave {
  display: block;
  margin-bottom: 45px;
}

.commentsList {
  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}